---
import ExperienceItem from './ExperienceItem.astro'

const EXPERIENCE = [

  {
    "date": "2024 - Actualmente",
    "title": "Supply Chain Intern - Takeda",
    "description": "Durante mi experiencia en Takeda, he desempeñado funciones clave en la cadena de suministro, analizando proactivamente riesgos relacionados con la demanda y el abastecimiento. He documentado procedimientos operativos y optimizado procesos para mejorar la eficiencia. Utilizando herramientas como Excel, Python y Power BI, he automatizado la generación de reportes críticos, integrándolos con SAP para lograr una toma de decisiones más precisa y ágil.",
    "link": "https://www.takeda.com/es-mx/"
  },
  {
    "date": "2022 - 2024",
    "title": "Desarrollador Web – Freelance",
    "description": "Como desarrollador freelance, he especializado mi trabajo en el diseño y mantenimiento de aplicaciones web empresariales. Mi enfoque se basa en la creación de soluciones escalables y adaptadas a las necesidades únicas de cada cliente.",
    "link": "/Proyectos"
  },
  {
    "date": "2019 - 2022",
    "title": "Desarrollador Junior – MDM",
    "description": "Participé activamente en el desarrollo integral de +100 paginas y aplicación web desde su concepción con el cliente hasta la implementación final. Me encargué de diseñar interfaces de usuario intuitivas e integrar funcionalidades esenciales utilizando JavaScript y frameworks modernos, lo que fortaleció mi capacidad para crear soluciones digitales centradas en el usuario.",
    "link": "https://maestrodelmedia.com/"
  }
]
---


<div class="mx-auto w-full lg:w-[740px] scroll-mt-24" id="Experiencia">
    
  <h2 class="text-3xl font-semibold mb-6 scroll-mt-24 text-white/80 flex items-center gap-x-2">
    <svg xmlns="http://www.w3.org/2000/svg" class="size-8" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"> <path d="M3 7m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"></path> <path d="M8 7v-2a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v2"></path> <path d="M12 12l0 .01"></path> <path d="M3 13a20 20 0 0 0 18 0"></path> </svg> 
    Experiencia Laboral
  </h2>
  <ol class="relative border-s border-gray-200 ml-3">
    {
      EXPERIENCE.map(experience => (
        <li class="mb-10 ms-4">
          <ExperienceItem {...experience} />
        </li>
      ))
    }
  </ol>

</div>