---
import Header from '../components/Header.astro'
import Foteer from '../components/Foteer.astro'

interface Props {
    title: string;
    description?: string;
}

const { title, description = "Blog de Fernando Trejo Torres - Desarrollo web, tecnología y más" } = Astro.props;
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width" />
        <meta name="description" content="Desarrollador especializado en crear soluciones web innovadoras. Con un historial comprobado de proyectos exitosos. Transformo ideas en aplicaciones web modernas y escalables que impulsan el crecimiento de tu negocio." />

        <link rel="icon" type="image/svg+xml" href="/favicon-fernandoTrjoTorresDesarrollador.webp" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class="relative min-h-screen">
        <div class="fixed top-0 z-[-2] min-h-screen w-full bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"></div>
        <Header />
        <div class="px-4 flex-grow">
            <main class="max-w-[870px] mx-auto">
                <slot />
            </main>
        </div>
        <Foteer />
    </body>
</html>

<style is:global>
    :root {
        color-scheme: dark;
    }

    html {
        font-family: 'Onest Variable', sans-serif;
        scroll-behavior: smooth;
        background: #13151a;
    }

    body {
        color: white;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    @media (prefers-reduced-motion: reduce) {
        html {
            scroll-behavior: auto;
        }
    }
</style>
