---
import Header from '../components/Header.astro';
import '../styles/base.css';
import '@fontsource-variable/onest';
import Experience from '../components/Experience.astro';
import Foteer from '../components/Foteer.astro';
import Projects from '../components/Projects.astro';
import	About from '../components/About.astro';
---

<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<meta name="description" content="Explora el portafolio de Fernando Trejo Torres, desarrollador con experiencia en proyectos innovadores. Descubre habilidades en tecnologías de vanguardia y soluciones personalizadas. Contáctame para tu próximo desafío." />
	<link rel="icon" type="image/svg+xml" href="/favicon-fernandoTrjoTorresDesarrollador.webp" />
	<meta name="generator" content={Astro.generator} />
	<title>Portafolio Fernando Trejo Torres - Desarrollador y Programador Web</title>
</head>

<body class="relative  ">
	<div class="absolute top-0 z-[-2] min-h-full w-full bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"></div>
	
	<Header />
	<div class="px-4">
	
		<main class="max-w-[1120px] mx-auto">
			<slot />
			<Experience />
			<Projects />
			<About />
		</main>
		<Foteer />
	</div>
</body>

</html>

<style is:global>
	:root {
		color-scheme: dark;
	}

	html {
		font-family: 'Onest Variable', sans-serif;
		scroll-behavior: smooth;
		background: #13151a;
	}

	body {
		color: white;
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}

	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}
</style>
